BODY {
	SCROLLBAR-FACE-COLOR: #a7bbc7; FONT-SIZE: 12px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #0b629f; SCROLLBAR-3DLIGHT-COLOR: #0b629f; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #0b629f; FONT-FAMILY: Verdana,Arial; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
P {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; COLOR: black; LINE-HEIGHT: 150%; MARGIN-RIGHT: 12px; FONT-FAMILY: Verdana,Arial; TEXT-ALIGN: left
}
P.mInfo1 {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 20px; COLOR: #003399; TEXT-INDENT: -8px; LINE-HEIGHT: 100%
}
P.mInfo2 {
	MARGIN-TOP: 12px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 35px; COLOR: #003399; TEXT-INDENT: -8px; LINE-HEIGHT: 100%
}
P.mInfo3 {
	MARGIN-TOP: 5px; FONT-SIZE: 10px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 50px; COLOR: #003399; TEXT-INDENT: -8px; LINE-HEIGHT: 100%
}
P.mInfo4 {
	MARGIN-TOP: 3px; FONT-SIZE: 10px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 65px; COLOR: #3366cc; TEXT-INDENT: -8px; LINE-HEIGHT: 100%
}
P.tit1r {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 15px; COLOR: #900000; TEXT-INDENT: -10px
}
P.right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
P.left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
P.center {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
P.lmail {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
P.mHizk {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 100%; PADDING-TOP: 0px
}
.tit1 {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 5px; COLOR: #003399
}
.tit2 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN-LEFT: 20px; COLOR: #003399
}
.tit3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-LEFT: 35px; COLOR: #003399
}
.tit4 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-LEFT: 50px; COLOR: #3366cc
}
.tit2n {
	FONT-WEIGHT: bold; MARGIN-LEFT: 20px; TEXT-INDENT: 0px
}
.goimenu1r {
	MARGIN-TOP: 4px; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 40px; COLOR: #003399; TEXT-INDENT: 0px
}
.goimenu1 {
	MARGIN-TOP: 4px; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 140px; COLOR: #003399; TEXT-INDENT: 0px
}
.goimenu2 {
	MARGIN-TOP: 2px; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 170px; COLOR: #1144aa; TEXT-INDENT: 0px
}
.goimenu2n {
	MARGIN-TOP: 2px; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 170px; COLOR: #1144aa; TEXT-INDENT: 0px
}
.goimenu3 {
	MARGIN-TOP: 1px; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 200px; COLOR: #2255bb; TEXT-INDENT: 0px
}
.txt1 {
	MARGIN-LEFT: 20px; TEXT-INDENT: 0px
}
.txt2 {
	MARGIN-LEFT: 35px; TEXT-INDENT: 0px
}
.txt3 {
	MARGIN-LEFT: 50px; TEXT-INDENT: 0px
}
.txt4 {
	MARGIN-LEFT: 65px; TEXT-INDENT: 0px
}
P.operacion {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #900000; TEXT-INDENT: -10px; PADDING-TOP: 0px
}
P.resumen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; COLOR: #1d00ad; TEXT-INDENT: 0px; PADDING-TOP: 0px
}
P.link_right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 5px 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
A {
	COLOR: #001aaa; FONT-FAMILY: Verdana,Arial; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.mInfo1 {
	COLOR: #003399
}
A.mInfo2 {
	COLOR: #003399
}
A.mInfo3 {
	COLOR: #003399
}
A.mInfo4 {
	COLOR: #3366cc
}
A.arauak {
	MARGIN-TOP: 5px; FONT-SIZE: 13px; MARGIN-BOTTOM: 5px; TEXT-ALIGN: center
}
A.sarMezu {
	COLOR: #003399; TEXT-DECORATION: underline
}
A.mEzk {
	COLOR: #003399
}
A.mHizk {
	FONT-SIZE: 11px
}
A.pe {
	FONT-SIZE: 10px; COLOR: #4444aa
}
A.mLMail {
	BORDER-RIGHT: #0b629f 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0b629f 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 2px 0px; BORDER-LEFT: #0b629f 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #0b629f 1px solid; BACKGROUND-COLOR: #cad6de
}
A.mLMail:hover {
	BACKGROUND-COLOR: #dde8ef; TEXT-DECORATION: none
}
A.mHelp {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial,Verdana
}
A.arauak {
	COLOR: #003399
}
A.jokatzera {
	FONT-SIZE: 18px; COLOR: #003399
}
A.mLagun {
	
}
A.mLagun:visited {
	COLOR: #803300
}
A.infoordain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #001aaa; PADDING-TOP: 0px; TEXT-ALIGN: center
}
A.resumen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #001aad; PADDING-TOP: 0px
}
TABLE.height100 {
	HEIGHT: 100%
}
TR {
	FONT-FAMILY: Verdana,Arial
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial
}
TD.bg_menugoi {
	BACKGROUND: url(/menugoi.gif)
}
TD.bg_menubehe {
	BACKGROUND: url(/menubehe.gif)
}
TD.bg_titindfon {
	BACKGROUND: url(/titindfon.gif) repeat-y
}
TD.bg_indfon {
	BACKGROUND: url(/indfon.gif) repeat-y
}
TD.bg_0b629f {
	BACKGROUND: url(/0b629f.gif)
}
TD.bg_laranja {
	BACKGROUND-COLOR: #f4aa74
}
TD.bg_horiska {
	BACKGROUND-COLOR: #edc63e
}
.mHizkGorri {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; MARGIN-BOTTOM: 6px; COLOR: #900000; LINE-HEIGHT: 100%
}
.mKaixo {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN-LEFT: 15px; COLOR: #003399
}
.txtEstu {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 120%
}
.nota {
	FONT-SIZE: 11px; MARGIN-LEFT: 30px; COLOR: #444444
}
.nota2 {
	FONT-SIZE: 11px; MARGIN-LEFT: 70px; COLOR: #444444
}
.notarojo {
	FONT-SIZE: 11px; MARGIN-LEFT: 30px; COLOR: #cc0000
}
.bold1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 15px; COLOR: #003399
}
.ulnota {
	FONT-SIZE: 11px; MARGIN-LEFT: 60px; COLOR: #444444
}
.ulnn {
	MARGIN-LEFT: 90px; COLOR: #800000
}
.nn {
	MARGIN-LEFT: 70px; COLOR: #800000
}
.nnn {
	FONT-WEIGHT: bold; MARGIN-LEFT: 12px; COLOR: #900000; TEXT-ALIGN: center
}
.zentro {
	TEXT-ALIGN: center
}
.txtUrdin {
	COLOR: #003399
}
.mJoko {
	MARGIN-TOP: 5px; FONT-SIZE: 9px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px; COLOR: #003399
}
.cab {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #0b629f; TEXT-ALIGN: center
}
.par {
	BACKGROUND-COLOR: #f5e2bb
}
.impar {
	BACKGROUND-COLOR: #efd499
}
.infosakG {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #900000; LINE-HEIGHT: 100%; TEXT-ALIGN: center
}
.infosakB {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 3px; COLOR: #000000; LINE-HEIGHT: 100%
}
.infosakU {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #003399; LINE-HEIGHT: 100%; TEXT-ALIGN: center
}
.infosakBL {
	COLOR: white; TEXT-ALIGN: center
}
.pe {
	MARGIN-TOP: 0px; FONT-SIZE: 10px; MARGIN-BOTTOM: 0px; COLOR: #666666; LINE-HEIGHT: 120%; TEXT-ALIGN: center
}
.tk {
	COLOR: #900000
}
.mi {
	MARGIN-TOP: 6px; FONT-SIZE: 12px; MARGIN-BOTTOM: 6px; COLOR: #900000; LINE-HEIGHT: 100%; TEXT-ALIGN: left
}
.mm {
	MARGIN-TOP: 6px; FONT-SIZE: 12px; MARGIN-BOTTOM: 6px; COLOR: #900000; LINE-HEIGHT: 100%; TEXT-ALIGN: center
}
.md {
	MARGIN-TOP: 6px; FONT-SIZE: 12px; MARGIN-BOTTOM: 6px; COLOR: #900000; LINE-HEIGHT: 100%; TEXT-ALIGN: right
}
.bc {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
.bb {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 19px; MARGIN-BOTTOM: 0px
}
.bs {
	MARGIN-TOP: 0px; FONT-SIZE: 19px; MARGIN-BOTTOM: 3px; TEXT-ALIGN: right
}
.ba {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 24px; MARGIN-BOTTOM: 0px; TEXT-ALIGN: right
}
.bl {
	FONT-WEIGHT: bold; COLOR: white; TEXT-ALIGN: center
}
IMG.absmiddle {
	MARGIN-BOTTOM: -1px
}
UL {
	MARGIN-TOP: 8px; FONT-SIZE: 12px; MARGIN-BOTTOM: 8px; COLOR: black; LINE-HEIGHT: 150%; MARGIN-RIGHT: 12px; FONT-FAMILY: Verdana,Arial; TEXT-ALIGN: left
}
UL.ul1 {
	MARGIN-LEFT: 40px; TEXT-INDENT: 0px
}
UL.ul2 {
	MARGIN-LEFT: 55px; TEXT-INDENT: 0px
}
UL.ul3 {
	MARGIN-LEFT: 70px; TEXT-INDENT: 0px
}
UL.ul4 {
	MARGIN-LEFT: 85px; TEXT-INDENT: 0px
}
UL.menuordain {
	MARGIN-LEFT: 15px; TEXT-INDENT: 0px; LIST-STYLE-TYPE: none
}
UL.menuordain LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
UL.adquirir {
	MARGIN: 10px 0px; TEXT-INDENT: 0px; LIST-STYLE-TYPE: none
}
UL.adquirir LI {
	PADDING-RIGHT: 15px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 10px 0px; PADDING-TOP: 2px
}
UL.infoordain {
	MARGIN-LEFT: 15px; WIDTH: 100%; TEXT-INDENT: 0px; LIST-STYLE-TYPE: none
}
UL.infoordain LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 2px 20px 4px 30px; COLOR: #002255; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.menuordain {
	BORDER-RIGHT: #0b629f 1px solid; BORDER-TOP: #0b629f 1px solid; BORDER-LEFT: #0b629f 1px solid; WIDTH: 90%; BORDER-BOTTOM: #0b629f 1px solid; BACKGROUND-COLOR: #feedc8; TEXT-ALIGN: center
}
IFRAME#cint {
	MARGIN-LEFT: -10px; WIDTH: 620px; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; HEIGHT: 1200px; BORDER-BOTTOM-STYLE: none! important
}
HTML IFRAME#cint {
	OVERFLOW: hidden; WIDTH: 625px; HEIGHT: 1300px
}
.ludocolor {
	COLOR: #0b629f
}
A.sartuzona{
	BORDER-RIGHT: #013153 1px solid;
	BORDER-LEFT: #edf6fd 1px solid;
	BORDER-BOTTOM: #013153 1px solid;
	BORDER-TOP: #edf6fd 1px solid;
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	MARGIN: 2px 1px;
	COLOR: #000000;
	BACKGROUND-COLOR: #b6b8b9;
}
A.sartuzona:hover {
	BACKGROUND-COLOR: #f4f4f4;
	TEXT-DECORATION: none;
}
